<a href="https://colab.research.google.com/github/ashish-vanguri/AI/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
import xlrd

In [10]:
book=xlrd.open_workbook(filename='/content/drive/MyDrive/slr09.xls')
df=pd.read_excel(book)

*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [11]:
df.head()

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

In [12]:
X = df['X'].values
y = df['Y'].values

In [13]:
X = X.reshape(-1,1)
y = y.reshape(-1,1)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.1, random_state=0)

In [15]:
X_train

array([[8.2],
       [8.4],
       [6.7],
       [8.5],
       [8.1],
       [7.3],
       [7.8],
       [8.1],
       [8. ],
       [7.1],
       [7.8],
       [7.3],
       [7.8],
       [7.3],
       [8.5],
       [7.2],
       [7.1],
       [7.3],
       [7.3],
       [7.9],
       [7.4],
       [8.2],
       [8.8],
       [7.9],
       [7.5],
       [8. ],
       [7.1],
       [7.4],
       [7.5],
       [7.6]])

In [16]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [17]:
m = lm.coef_
c = lm.intercept_,
print("Estimated model slope, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model slope, m: [[-30.97868174]]
Estimated model intercept, c: (array([377.83911166]),)

In [18]:
y_pred_train=lm.predict(X_train)
y_pred_test=lm.predict(X_test)

In [19]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

In [20]:
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 53.65417854583525
Mean square error 2878.7708754283676
Mean absolute error 46.5692850890857

In [21]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 35.585382928993646
Mean square error 1266.3194782031123
Mean absolute error 32.75583025501805

In [22]:
import pickle

filename = 'model.pkl'
pickle.dump(lm, open(filename, 'wb'))

In [25]:
model = pickle.load(open('model.pkl', 'rb'))
user_ip=input('enter x value ')
adv=np.array(float(user_ip))
adv=adv.reshape(-1,1)
prediction = model.predict(adv)
result = prediction[0]
print('x',float(user_ip))
print('y',result)

enter x value 4
x 4.0
y [253.92438471]